<h1>
  List Banners</h1>
<div class="panel panel-default panel-table">
  <div class="panel-heading">
    <div class="row">
      <div class="col col-xs-6">
        <h3 class="panel-title"></h3>
      </div>
      <div class="col col-xs-6 text-right">
        <a href="pages/order/add-new" class="mb-3 btn btn-sm btn-success btn-create">Create New</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered table-list">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Url</th>
        <th>Url_Banner</th>
        <th >Operations </th>
      </thead>
      <tbody>
        <tr  *ngFor ="let banner of banners">
          <td>{{banner.id}}</td>
          <td>{{banner.name}}</td>
          <td>{{banner.url}}</td>
          <td>{{bannner.urlBanner}}</td>
          <td class="text-center" >
            <a  (click)="updateOrder(order)" class="mr-2 btn btn-outline-success">
              <em class="fa fa-edit"></em>
            </a>
            <a (click)="deleteOrder(order)" class="btn btn-outline-danger">
              <em class="fa fa-trash"></em>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>