.mid-header .btnSearch{
    position: absolute;
    top: 0px;
    right: -23px;
    width: 36px;
    border-radius: 5px;
    height: 36px;
    background: #33cbcc;
    border: none;
    color: #fff;
}
.mid-header .inputSearch{
    margin-bottom: auto;
    margin-top: auto;
}
.card-body.row{
    padding:0px;
}