<app-header></app-header>
<div class="breadcrumb">
  <div class="container">
    <ol class="list-unstyled list-inline">
      <li>
        <a href="index.html" itemprop="item">
          <i class="fa fa-home"></i>
          <span>Trang chủ</span>
        </a>
      </li>
      <li>
        <span class="divide">
          <i class="fa fa-angle-right"></i>
        </span>
      </li>
      <li>
        <span class="current" itemprop="item">
          <b>Đăng ký tài khoản</b>
        </span>
      </li>
    </ol>
  </div>
</div>
  <section class="AccountPage">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 ">
          <div class="formAccountPage" id="loginForm">
            <h2 class="titleDecoration AccountPageTitle">
              <span class="line"></span>
              <span class="title fz18">
                <i class="fa fa-lock"></i>&nbsp; Đăng ký tài khoản</span>
            </h2>
            <form id="customer_login" accept-charset="UTF-8" (ngSubmit)="registorClient(formRegistor.value)" #formRegistor ="ngForm">
              <input name="FormType" type="hidden" value="customer_login">
              <input name="utf8" type="hidden" value="true">
              <p>Đăng ký để nhận những ưu đại đặc biệt từ cửa hàng chúng tôi.</p>
              <div class="group">
                <label for="username">Tên đăng nhập
                  <span class="error">*</span>
                </label>
                <input type="text" #username = "ngModel" ngModel name="username" id="username" required="" class="input-control">
              </div>
              <div class="group">
                <label for="passLogin">Mật khẩu
                  <span class="error">*</span>
                </label>
                <input type="password" #password = "ngModel" ngModel id="passLogin" name="password" required="" class="input-control">
              </div>
              <div class="group">
                <label for="rePassLogin">Nhập lại mật khẩu
                  <span class="error">*</span>
                </label>
                <input type="password" #passwordRepeat = "ngModel" ngModel id="rePassLogin" name="passwordRepeat" required="" class="input-control">
              </div>
              <div class="group">
                <label for="fullName">Họ Tên
                  <span class="error">*</span>
                </label>
                <input type="text" #fullName = "ngModel" ngModel name="fullName" id="fullname" required="" class="input-control">
              </div>
              <div class="group">
                <label for="emailLogin">Email
                  <span class="error">*</span>
                </label>
                <input type="email" #email = "ngModel" ngModel name="email" id="emailLogin" required="" class="input-control">
              </div>
              <div class="group">
                  <label for="emailLogin">Địa chỉ
                    <span class="error">*</span>
                  </label>
                  <input type="text" #address = "ngModel" ngModel name="address" id="address" required="" class="input-control">
                </div>
              <div class="group">
                <label for="phone">Số điện thoại
                  <span class="error">*</span>
                </label>
                <input type="number" #phone = "ngModel" ngModel name="phone" id="phone" required="" class="input-control">
              </div>

              <button class="button"  >
                <i class="hoverButton" (click)="registorClient(formRegistor.value)" ></i>Đăng ký</button>
            </form>
          </div>
          <div class="formAccountPage" id="recoverForm" style="display:none">
            <h2 class="titleDecoration AccountPageTitle">
              <span class="line"></span>
              <span class="title fz18">
                <i class="fa fa-lock"></i>&nbsp; Lấy lại mật khẩu</span>
            </h2>
            <form accept-charset="UTF-8" action="#" id="recover_customer_password" method="post">
              <input name="FormType" type="hidden" value="recover_customer_password">
              <input name="utf8" type="hidden" value="true">
              <p>Điền địa chỉ email bạn đã đăng ký vào ô bên dưới để chúng tôi xác nhận và gửi yêu cầu đổi mật khẩu cho bạn.</p>
              <div class="group">
                <label for="emailRecover">Email
                  <span class="error">*</span>
                </label>
                <input type="email" name="mail" id="emailRecover" required="" class="input-control">
              </div>
              <div class="group clearfix" style="margin-top:15px">
                <a href="#" class="right">Quay lại</a>
              </div>
              <input type="submit" class="button" value="Gửi">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>