<footer id="footer">
  <div class="topFooter">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <a href="#">
                <img src="../../../assets/shop/images/logo.png" class="img-responsive" alt="skymarket">
              </a>
              <div class="aboutShop">
                Sky Market là chuỗi siêu thị bán đồ điện máy, đồ gia dụng lấy cảm hứng tại một khu chợ sầm uất nhất Hà Nội là chợ giời.
                <div class="listSocial">
                  <a href="#" class="fb">
                    <i class="fab fa-facebook"></i>
                  </a>
                  <a href="#" class="tw">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#" class="yt">
                    <i class="fab fa-youtube"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="footerContact">
                <h3 class="titleDecoration">
                  <span class="line"></span>
                  <span class="title">Thông tin liên hệ</span>
                </h3>
                <ul class="list-unstyled">
                  <li class="clearfix">
                    <i class="fa fa-map-marker"></i>
                    <span>Hồ Chí Minh</span>
                  </li>
                  <li class="clearfix">
                    <i class="fa fa-phone"></i>
                    <a href="tel:01677852765">0987494949</a>
                  </li>
                  <li class="clearfix">
                    <i class="fa fa-envelope"></i>
                    <a href="#">SDViet@gmail.com</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <h3 class="titleDecoration">
                <span class="line"></span>
                <span class="title">Chính sách</span>
              </h3>
              <ul class="list-unstyled linklists">
                <li>
                  <a href="#">Chính sách thanh toán</a>
                </li>
                <li>
                  <a href="#">Chính sách vận chuyển</a>
                </li>
                <li>
                  <a href="#">Chính sách đổi trả</a>
                </li>
                <li>
                  <a href="#">Chính sách bảo hành</a>
                </li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h3 class="titleDecoration">
                <span class="line"></span>
                <span class="title">Điều khoản</span>
              </h3>
              <ul class="list-unstyled linklists">
                <li>
                  <a href="#">Điều khoản giao dịch</a>
                </li>
                <li>
                  <a href="#">Dịch vụ tiện ích</a>
                </li>
                <li>
                  <a href="#">Điều khoản sử dụng</a>
                </li>
                <li>
                  <a href="#">Quyền sở hữu trí tuệ</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">© Bản quyền thuộc về Medusa Team | Cung cấp bởi
      <a href="#">SDViet</a>.
      <img src="../../../assets/shop/images/payment.png" class="payment hidden-xs hidden-sm" alt="Phương thức thanh toán">
    </div>
  </div>
  <!-- Back Top -->
  <div id="bttop" class="bttop is-hidden-sm-down">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
  </div>
  <!-- End Back Top -->
</footer>